{
    "presets": ["@babel/preset-react"],
    "plugins": [
        [
            "module-resolver", {
                "root": ["."],
                "alias": {
                    "shared": "."
                }
            }
        ], ["@babel/plugin-proposal-export-default-from"]
    ]
}