.navbar {
  &-default{
    border-radius: 0;
    background-color: #777777;
    border-color: #777777;
    min-height: 80px;
  }
  &-brand{
    height: 80px;
  }
  &-toggle{
    border-width: 0;
    height: 60px;
    background-color: #777777
  }
  &-right{
    padding-top: 13px
  }
}

.nav{
  &-link{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #777777;
    color: #FFFFFF;
    border-width: 0;
  }
}

.dropdown{
  &-menu{
    background-color: #bfbfbf;
  }
  &-item{
    color: #000000;
  }
}

.header{
  &-logo {
    display: inline-block;
    height: 70%;
  }
  &-text{
    display: inline-block;
    margin-top: 12px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 20px;
  }
}

.icon-bar{
  background-color: #FFFFFF
}