{
    "presets": ["next/babel", "@babel/preset-react", "babel-preset-expo"],
    "plugins": [
        [
            "module-resolver", {
                "root": [".."],
                "alias": {
                    "@shared": "../shared"
                }
            }
        ], [
            "styled-components", { 
                "ssr": true, 
                "displayName": true, 
                "preprocess": false 
            } 
        ], ["@babel/plugin-proposal-export-default-from", {}]
    ]
}