{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver", {
                "root": [".."],
                "alias": {
                    "@web": ".",
                    "@shared": "../shared"
                }
            }
        ], [
            "styled-components", { 
                "ssr": true, 
                "displayName": true, 
                "preprocess": false 
            } 
        ]
    ]
}